
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$second-background: #f5f4fa;
$hero-footer-background: #2f303a;
$border: #ececec;
$border-client: #afb1b8;
$icon: #afb1b8;

$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);